.autocomplete-suggestions {
    text-align: left; 
    cursor: default; 
    border: 2px solid #F2E5B1; 
    border-radius: 1px 1px 4px 4px; 
    border-top: 0; 
    background: #838895;
    box-shadow: -1px 1px 3px rgba(0,0,0,.1); 
    margin-left: 1px;
    font-family:'Arapey';

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 140px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}

.autocomplete-suggestion {
  position: relative;
  padding: 0.6em;
  line-height: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.05em;
  color: #F2E5B1;
}

/* highlighted letter in the word in the autocomplete */
.autocomplete-suggestion b {
  font-weight: normal;
  color: #EFF3FF;
}

/* highlighting a suggestion */
.autocomplete-suggestion.selected {
  background: #58585B;
}
