/*******************STYLING FOR HOMEPAGE********************/
body {
    text-align: center;
    background-size: 500px;
    font-family: StyleThief;
    /* margin-bottom: 150px; */
}

svg { border: solid #ccc 1px; }

#title { display: inline-block; font-family: StyleThief; font-size: 8vw; padding: 0px; margin: 0px; margin-top: 3vw; margin-bottom: 2vw; transition: 0.35s; color: black; }
#title:hover { cursor: pointer; color: grey; transition: 0.35s }

/* CARDS */
#card-flex { display: flex; flex-direction: row; justify-content: center; align-items: center; width: 400px; height: 300px; margin-left: auto; margin-right: auto; }
#blue { width: 175px; order: 2; margin-left: 10px; transition: 0.35s }
#blue:hover { width: 190px; cursor: pointer; transition: 0.35s }
#red { width: 175px; order: 1; margin-right: 10px; transition: 0.35s}
#red:hover { width: 190px; cursor: pointer; transition: 0.35s }

/* SEARCH BAR */
#search-flex { display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 35vw; height: 250px; margin-left: auto; margin-right: auto; text-align: center;}
#send {display: block; margin-left: auto; margin-right: auto;}
#search-bar { font-family: StyleThief; border-radius: 4px; width: 30vw; height: auto; font-size: 25px; order: 1; margin-left: auto; margin-right: auto; display: block;}
#search-button { font-family: StyleThief; font-size: 22px; border-radius: 4px; width: 60px; height: 35px; margin-left: 5px; order: 2; }

/* FORM */
/*#form { font-size: 30px; width: 150px; height: 100px; background-color: black; margin-left: auto; margin-right: auto; color: white; }*/

/* FONT */
@font-face {
font-family: "StyleThief";
src: url("fonts/StyleThief.otf") format("opentype");
}

/************************STYLING FOR FORM*******************/
button {
    /*font-family: 'PT Sans';*/
}

button:focus,input[type=range]:focus, #playerSlider:active, input#categorySearch {
    outline:0 !important;
}

.card {
    width:75%;
    margin: 0 12.5%;
    border:1px solid grey;
    display:inline-block;
}

.card p {
    width:100%;
    text-align:center;
    position:relative;
}

#playerSlider {
    margin-bottom: 20px;
    border:none;
    background: #c8e8ff;
}

input[type=range] {
    -webkit-appearance: none;
    width:75%;
    margin: 0 12.5%;

}

input[type=range]::-webkit-slider-runnable-track {
    background:grey;
    height:5px;
    border:none;
}

/*adapted from https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
        /*appearance: none;*/
    width: 50px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    background-image:  url('../images/loading-dice.png'); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

input[type=range]::-moz-range-track {
    background:grey;
    height:5px;
    border:none;
}

input[type=range]::-moz-range-thumb {
    width: 50px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    background:none; /*make background of slider transparent*/
    background-image: url('images/loading-dice.png'); /* set image as background */
    border:0;
    cursor: pointer; /* Cursor on hover */
}

/*#playing-time, #age, #difficulty, #categories {
    width:37.35%;
    height:250px;
}*/

/*#playing-time, #difficulty {
    float:left;
    margin-right:0;
}*/
.time-buttons, .age-buttons {
    margin: 0 12.5%;
}

.time-buttons button {
    width: 24.5%;
    height:90px;
    margin-bottom:5px;
}

.time-buttons button img {
    display: block;
    margin: 0 auto;
    padding-bottom:5px;
}

.selectedTime {
  background: lightblue;
}


#age, #categories {
    float:right;
    margin-left:0%;
    margin-right:12.35%;
}

.age-buttons button {
    width:32%;
    height:150px;
    border:none;
    margin-bottom:5px;
}

.age-buttons button img {
    display: block;
    margin: 0 auto;
}

.selectedAge {
    background:orange;
}

.difficulty-buttons {
    margin: 0 auto;
    display: block;
}

.diffClass {
    background:green;
}

#categories, #mechanics {
    padding-bottom:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:200px;
}

#categorySearch, #mechanicSearch {
    width: 50%;
    /*float:left;*/
    /*margin-left: 15%;*/
}

#myCategories, #myMechanics {
    width: 50%;
    /*float:right;*/
    /*margin-right: 15%;*/
}

/* Can we rename this since it's not actually the results */
#advancedSubmit {
    border:none;
}
#advancedSubmit button {
    width:75%;
    margin: 10px 12.5%;
    height:50px;
    background:pink;
    border:1px solid grey;
}


/* ============================================================
    .::[ Results ]::.
============================================================= */
#swap-switches-button {
  display: none;
  position: absolute;
  top: 10%;
  left: 10%;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100px;
}
#swap-switches-button img {
  max-height: 100%;
  max-width: 100%;
}

.results h1 {
  font-size: 48px;
  font-family: sans-serif;
}
.results p,
.results a {
  font-size: 24px;
  font-family: sans-serif;
}
.results {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* width: 99%; */
}
.results h1 {
  padding-bottom: 5px;
}
/* RESULTS GRID */
.results #result-grid {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}
.results .results-button {
  height: 350px;
  width: 350px;
  margin: 5px;
  display: inline-block;

  background: #323232;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.results .results-button .results-button-caption {
  opacity: 0;

  /* LIGHT BROWN */
  /* background: #eacda3;
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
  background: linear-gradient(to right, #d6ae7b, #eacda3); */

  /* RED BLUE MIX */
  background: #3a6186;
  background: -webkit-linear-gradient(to right, #89253e, #3a6186);
  background: linear-gradient(to right, #89253e, #3a6186);

  position: absolute;
  top: 0;
  text-align: center;

  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.results .results-button .results-button-caption:hover {
  opacity: 1;
}
.results .results-button .results-button-caption p {
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.results .results-button .results-button-caption .caption-name {
  line-height: 100%;
  font-size: 24px;
  padding-top: 40%;
}
.results .results-button .results-button-caption .caption-info {
  font-size: 18px;
  padding-top: 10%;
}

.results .results-button p {
  margin-top: 4px;
  font-size: 12px;
  font-weight: bold;
}
.results .results-button:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
/* RESULTS EXPLANATIONS */
.results .results-explanation {
  display: none;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.results .results-explanation .return {
  display: block;
  margin-top: 4px;
  margin-left: 2px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 100%;
  text-align: left;
  /* position: relative; */
  /* float: left; */
}
.results .results-explanation .return img {
  margin: 0px;
  width: 30px;
  height: 30px;
}
/* .results .results-explanation .return .shadow {
  position: absolute;
  margin-left: 0px;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 1px #fe7676;
  transition: ease-in-out 0.15s;
} */
.results .results-explanation .return:hover .shadow {
  -ms-transform: scale(1.1, 1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1, 1.1);
  /* Chrome, Safari, Opera */
  transform: scale(1.15ad 1.1);
  box-shadow: 0px 0px 0px 1px #fe7676;
}
.results .results-explanation .explanation {
  margin-bottom: 100px;
}
.results .results-explanation .explanation-img {
  margin-top: 10px;
  width: 50%;
  display: inline-block;
  float: left;
}
.results .results-explanation .explanation-img img {
  width: 100%;
}
.results .results-explanation .explanation-text {
  margin-top: 10px;
  font-family: sans-serif;
  width: 40%;
  display: inline-block;
  float: right;
  text-align: left;
}

/* ============================================================
    .::[ Footer ]::.
============================================================= */
#footer {
  height: 50px;
  display: block;
  width: 100%;
}
