/*******************STYLING FOR HOMEPAGE********************/
/* ORANGE: #CB602C */
/* BEIGE: #F2E5B1 */
/* GREY: #58585B */
/* GREEN: #2E7269 */
/* SHADOW BLACK: #070727 */
body {
    text-align: center;
    background-size: 500px;
    font-family: StyleThief, 'Arapey', serif;
    /* background-color: #CB602C; */
    color: #F2E5B1;
    background-image: url("/static/images/pattern2.png");
    /* background-image: url("/static/images/pattern.png"); */
    background-size: 200px;
    /* margin-bottom: 150px; */
}

/* svg { border: solid #ccc 1px; } */

#title { display: inline-block; font-family: StyleThief; font-size: 8vw; padding: 0px; margin: 0px; margin-top: 3vw; margin-bottom: 1.5vw; transition: 0.25s; color: #F2E5B1; text-shadow: -5.5px 5.5px #070727; }
#title:hover { cursor: pointer; text-shadow: 5.5px 5.5px #070727;  transition: 0.25s; }

#about {
  position: absolute;
  top: 8%;
  left: 5%;
  width: 200px;
}

#about .about-button {
  height: 60px;
  width: 60px;
  font-size: 26px;
  background: #58585B;
  color: #F2E5B1;
  /* width: 100%; */
  font-family: 'Arapey';
  border: 2px solid #F2E5B1;
  transition: 0.35s;
}
#about .about-button:hover {
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  transition: 0.35s;
  /* box-shadow: 2px 2px 5px 0 #070727; */
}

#credits {
  /* height: 130px; */
  /* position: absolute;
  right: 4%;
  top: 8%; */
  width: 196px;
  margin-left: auto;
  margin-right: auto;
  background-color: #58585B;
  border: 2px solid #F2E5B1;
  text-align: center;
}
#credits .credits-text {
  width: 100%;
  font-family: 'Arapey';
  font-size: 16px;
}

/* CARDS */
#card-flex { display: flex; flex-direction: row; justify-content: center; align-items: center; width: 400px; height: 300px; margin-left: auto; margin-right: auto; }
#blue { width: 175px; order: 2; margin-left: 10px; transition: 0.35s }
#blue:hover { width: 190px; cursor: pointer; transition: 0.35s }
#red { width: 175px; order: 1; margin-right: 10px; transition: 0.35s}
#red:hover { width: 190px; cursor: pointer; transition: 0.35s }
.Rtext, .Btext { font-size: 35px; }
.text { font-size: 35px; }

/* SEARCH BAR */
#search-flex {
  display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 36vw; height: 50px; margin-left: auto; margin-right: auto; text-align: center;
  font-family: 'Arapey';
  background: #58585B;
  color: #F2E5B1;
}

#searchBarButton {
  border:2px solid #F2E5B1;
  background-color: transparent;
  outline:0 !important;
  cursor: pointer;
  font-size: 22px;
  height:30px;
  color: #F2E5B1;
  font-family: 'Arapey';
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: 0.35s;
}

#searchBarButton:hover {
  border:2px solid #F2E5B1;
  background-color: #F2E5B1;
  outline:0 !important;
  cursor: pointer;
  font-size: 22px;
  color: #58585B;
  font-family: 'Arapey';
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: 0.35s;
}

#send {
  display: block;
  order: 2;
  margin-left: auto;
  margin-right: auto;
  height:30px;
}

::placeholder {
  color: #F2E5B1;
  opacity: 0.5;
}

#searchBar {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 28vw;
  height: auto;
  font-size: 22px;
  order: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Arapey';
  color: #F2E5B1;
  background: #58585B;
  border: 2px solid #F2E5B1;
  padding-left: 10px;
}
#searchBar:focus {
  outline-width: 0;
}
#search-button { font-family: StyleThief; font-size: 22px; border-radius: 4px; width: 60px; height: 35px; margin-left: 5px; order: 2; }

#border-container {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 2px #F2E5B1 solid;
  border-radius: 4px;
  background-color: #58585B;
  width: 443px;
  margin-top:10px;
}

/* TAGS *************************************/
.gameTags {
  font-family: 'Arapey';
  font-size:18px;
  background: #58585B;
  height: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-top:5px;
}

.gameTag, .miscTag {
  border: 1px solid;
  border-radius:4px;
  padding: 3px;
  padding-right:7px;
  margin: 2px;
}
.X {
  border:0;
  background-color:transparent;
  cursor: pointer;
  color: white;
}


/* FORM */
/*#form { font-size: 30px; width: 150px; height: 100px; background-color: black; margin-left: auto; margin-right: auto; color: white; }*/

/* FONT */
@font-face {
  font-family: "StyleThief";
  src: url("fonts/StyleThief.otf") format("opentype");
}

/************************STYLING FOR FORM*******************/

button:focus,input[type=range]:focus, #playerSlider:active, input#categorySearch {
    outline:0 !important;
}

#form {
  background: #58585B;
  color: #F2E5B1;
  border: 4px solid #F2E5B1;
  border-radius: 10px;
  width: 56.5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 20px;
}

#form .card {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#form .card h2 {
  font-family: 'Arapey';
  font-weight: normal;
}
#form .card p {
  width:100%;
  text-align:center;
  position:relative;
  font-size:16px;
  /* font-size:18px; */
  font-family: 'Arapey';
}
#number-of-players .player-buttons {
  text-align: center;
}
#number-of-players .player-buttons .player-button {
  font-family: 'Arapey';
  font-size: 24px;
  background: #9296A1;
  color: black;
  width: 11.5%;
  height: 70px;
  border-radius: 8px;
  border-color: #727069;
  margin: 2px;
}
#number-of-players .player-buttons .selectedPlayer {
  background: #F2E5B1 !important;
  /* change this */
}
#playing-time .time-buttons .time-button {
  font-family: 'Arapey';
  font-size: 16px;
  background: #9296A1;
  color: black;
  border-color: #727069;
  width:23%;
  height: 90px;
  border-radius: 8px;
  margin: 2px;
}
#playing-time .time-buttons button img {
  display: block;
  margin: 0 auto;
  padding-bottom:5px;
}
#playing-time .time-buttons .selectedTime {
  background: #F2E5B1 !important;
}
#difficulty #complexity-display {
  background-color: #58585B;
  color: #F2E5B1;

  border: 0;
  font-family: 'Arapey';
  font-size: 16px;
  width: 50px;
}
#difficulty label {
  font-family: 'Arapey';
  font-size: 16px;
  text-align: left;
}
#difficulty .complexity-display1-container,
#difficulty .complexity-display2-container {
  display: inline;
  width: 200px;
  text-align: left;
  margin: 0;
}
#difficulty .complexity-display1-container #complexity-game-display1,
#difficulty .complexity-display2-container #complexity-game-display2 {
  background-color: #58585B;
  color: #F2E5B1;
  text-align: center;
  /* width: 100%; */
  border: 0;
  font-family: 'Arapey';
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}
/* #difficulty #complexity-game-display1 {
  margin-right: 5px;
  text-align: left;
} */
#difficulty .complexity-display1-container label {
  margin-left: 35px;
}
#difficulty .complexity-display2-container label {
  margin-left: 35px;
  /* padding-left: 5px; */
}

#complexity-flex {
  display: flex;
  align-items:baseline;
  margin-left:3%;
  margin-right:3%;
}

#difficulty #slider-range {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: none;
  border:1px solid #F2E5B1;
  border-radius:8px;
}
#difficulty #slider-range .ui-widget-header {
  background: #F2E5B1;
}

#misc,
#games {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  text-align: center;
}
#miscSearch input,
#gamesSearch input {
  height: 18px;
  font-size: 18px;
  font-family: 'Arapey';
  color: #F2E5B1;

  width: 80%;
  background: #58585B;
  border: none;
  border-bottom: 1px solid #F2E5B1;
}
#miscSearch input:focus,
#gamesSearch input:focus  {
  outline-width: 0;
}
#miscResult,
#gamesResult {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#myMisc,
#myGames {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Arapey';
  font-size: 16px;
  display:inline;
}
.miscTags,
.gameTags {
  min-height: 19px;
}

#advancedSubmit {
    border: none;
}
#advancedSubmit button {
    cursor:pointer;
    width: 75%;
    margin: 10px 12.5%;
    height: 50px;
    font-family: 'Arapey';
    color: #F2E5B1;
    font-size:20px;
    background: #58585B;
    border: 2px solid #F2E5B1;
    border-radius:8px;
    transition: 0.35s;
    display:block;
}
#advancedSubmit button:hover {
  color: #58585B;
  background-color: #F2E5B1;
  transition: 0.35s;
}

/**INSERTED SLIDER SHIT **/
#form #playerSlider {
    margin-bottom: 20px;
    border:none;
    background: #c8e8ff;
}
input[type=range] {
    -webkit-appearance: none;
    width:75%;
    margin: 0 12.5%;

}
input[type=range]::-webkit-slider-runnable-track {
    background:grey;
    height:5px;
    border:none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
        /*appearance: none;*/
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background-image:  url('../images/loading-dice.png'); /* Green background */
    cursor: pointer; /* Cursor on hover */
}
input[type=range]::-moz-range-track {
    background:grey;
    height:5px;
    border:none;
}
input[type=range]::-moz-range-thumb {
    width: 50px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    background:none; /*make background of slider transparent*/
    background-image: url('../images/loading-dice.png'); /* set image as background */
    border:0;
    cursor: pointer; /* Cursor on hover */
}

/* ============================================================
    .::[ Results ]::.
============================================================= */
#swap-switches-button,
#swap-switches-button2 {
  background-image: url("../images/both.png");
  background-size: 70px;
  background-repeat: no-repeat;
  width: 70px;
  height: 100px;
  display: none;
  position: absolute;
  /* position: fixed;
  z-index: 5; */
  cursor: pointer;
  top: 8%;
  left: 10%;
  margin: 0;
  padding: 0;
  transition: 0.35s;
}

#swap-switches-button:hover {
  background-image: url("../images/blue.png");
  transition: 0.35s;
  cursor: pointer;
  transform: rotate(360deg);
}

#swap-switches-button2:hover {
  background-image: url("../images/red.png");
  transition: 0.35s;
  cursor: pointer;
  transform: rotate(360deg);
}

#state1 p {
  font-family: 'Arapey', serif;
}
.example-queries {
  margin-left: 0px;
  font-size: 1.5vw;
  /* width: 340px; */
  width: 35vw;
  height: 220px;
  text-align: center;
  display: block;
  background: #58585B;
  padding-top: 2px;

  margin-left: auto;
  margin-right: auto;
}
#try-examples {
  font-family: 'Arapey';
  font-size:24px;
}
.example-queries .example-query {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
}
.example-queries .example-query img {
  max-width: 100%;
  max-height: 100%;
}
.example-queries .example-query p {
  margin-top: 5px;
  font-size:18px;
}

#ex1, #ex2, #ex3 {
  transition: 0.35s
}

@-webkit-keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  20%  { -webkit-transform:  rotate(5deg); }
  50%  { -webkit-transform:  rotate(-5deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}
.wobble:hover {
  -webkit-animation: wobble 0.5s;
  cursor: pointer;
}

.results {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* width: 99%; */
}
.results h1 {
  font-size: 8vw;
  font-family: StyleThief;
  margin-bottom: 0px;
  text-shadow: -5.5px 5.5px #070727;
}
.results p,
.results a {
  font-size: 22px;
  font-family: 'Arapey', serif;
  text-decoration: none;
}
.results .showing-results-text {
  background: #58585b;
  width: 80%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size:24px;
  padding-bottom:10px;
}
/* RESULTS GRID */
.results #result-grid {
}
.results .results-button {
  cursor: pointer;

  height: 350px;
  width: 350px;
  margin: 5px;
  display: inline-block;

  background: #323232;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.results .results-button .results-button-caption {
  opacity: 0;

  /* LIGHT BROWN */
  /* background: #eacda3;
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
  background: linear-gradient(to right, #d6ae7b, #eacda3); */

  /* RED BLUE MIX */
  background: #3a6186;
  background-image: linear-gradient(to left bottom, #F2E4B1, #898371);

  /* background-color: rgba(255, 255, 255, 0.4); */

  position: absolute;
  top: 0;
  text-align: center;

  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.results .results-button .results-button-caption:hover {
  opacity: 1;
}
.results .results-button .results-button-caption p {
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.results .results-button .results-button-caption .caption-name {
  line-height: 100%;
  font-size: 24px;
  padding-top: 40%;
  padding-left: 5%;
  padding-right: 5%;
}
.results .results-button .results-button-caption .caption-info {
  font-size: 18px;
  padding-top: 10%;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
}

.results .results-button p {
  margin-top: 4px;
  font-size: 12px;
  font-weight: bold;
}
.results .results-button:hover {
  box-shadow: 2px 2px 5px 0 #070727;
}
/* RESULTS EXPLANATIONS */
.results .results-explanation {
  display: none;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.results .results-explanation .return {
  display: block;
  margin-top: 4px;
  margin-left: 2px;
  border: 1px solid transparent;
  border-radius: 100%;
  text-align: left;
  /* position: relative; */
  /* float: left; */
}
.results .results-explanation .return-btn {
  transition: 0.35s;
  cursor: pointer;
  margin: 0px;
  background: #57575B;
}

.return-btn:hover {
  transition: 0.35s;
  transform: rotate(-10deg);
}
.results .results-explanation .explanation {
  /* margin-bottom: 50px; */
  display: flex;
  align-items: center;
}
.results .results-explanation .explanation-img {
  margin-top: 10px;
  width: 50%;
  display: inline-block;
  float: left;
}
.results .results-explanation .explanation-img img {
  max-width: 100%;
  max-height: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.results .results-explanation .explanation-text {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 30px;
  padding-bottom: 10px;

  font-family: 'Arapey', serif;
  width: 45%;
  display: inline-block;
  float: left;
  text-align: center;
  padding-bottom: 20px;

  background: #58585B;
  color: #F2E5B1;
  border: 4px solid #F2E5B1;
  border-radius: 10px;

  /* border-style: double;
  border-width: 4px;
  border-color: black; */
}
.results .results-explanation .explanation-text h2 {
  width: 95%;
  font-size: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  display: block;
  text-shadow: -1.5px 1.5px #070727;
}
.results .results-explanation .explanation-text hr {
  margin-bottom: 20px;
  padding: 0;
  color: #F2E5B1;
  width: 80%;
  text-align: center;
}
.results .results-explanation .explanation-text p {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}
.results .results-explanation .explanation-text .category-list {
  margin-bottom: 12px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.results .results-explanation .explanation-text .whitetext {
  color: white;
}
.results .results-explanation .explanation-text a {
  transition: 0.35s;
  color: #5895DD;
  font-size: 20px;
}
.results .results-explanation .explanation-text a:hover {
  transition: 0.35s;
  color: white;
  font-size: 20px;
}

/* ============================================================
    .::[ Footer ]::.
============================================================= */
#footer {
  height: 50px;
  display: block;
  width: 100%;
}
