<!DOCTYPE HTML>
<html>

<head>
    <title>Are You Board?</title>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="icon" href="../static/images/loading-dice2.png">
    <link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='../static/style/style.css'>
    <link rel='stylesheet' href='../static/style/external/jquery-ui.css'>
    <link rel='stylesheet' href='../static/style/external/auto-complete.css'>
    <script src='../static/scripts/external/jquery-3.3.1.min.js'></script>
    <script src='../static/scripts/external/jquery-ui.js'></script>
    <script src='../static/scripts/external/auto-complete.js'></script>
    <script src='../static/scripts/gamelist.js'></script>
</head>

<body>
  <!-- HTML -->
  <a href="/"><h1 id="title">Are You Board?</h1></a>

  <div id="about">
    <button id="about-btn" class="about-button" onmouseover="textChange(0)" onmouseout="textChange(1)">?</button>
    <div id="credits" style="opacity: 0; transition: 0.25s;">
      <p class="credits-text">
        Made at Cornell University
      </p>
      <p class="credits-text">
        Eliot Huang (keh228)<br />
        Jake Jermanok (jaj224)<br />
        Tiffany Wang (tw292)<br />
        Will Ronchetti (wrr33)<br />
        & Ziyad Duron (zad22)
      </p>
    </div>
    <script>
    var hidden = true;

    function textChange(val) {
      var x = document.getElementById("about-btn");
      var y = document.getElementById("credits");
      if (val == 0) {
        setTimeout(function() {
          x.style.height = "200px";
          setTimeout(function() {
          x.innerHTML = "<b>About This App</b> <br><br> Made at Cornell University <br><br> Eliot Huang (keh228) <br> Jake Jermanok (jaj224) <br> Tiffany Wang (tw292) <br> Will Ronchetti (wrr33) <br> & Ziyad Duron (zad22)"
          }, 150);
        }, 150);
        // y.style.opacity = 1;
      } else {
        x.innerHTML = "?";
        setTimeout(function() {
          x.style.height = "60px";
        }, 150)
        // y.style.opacity = 0;
      }
    };

    </script>
  </div>

  <!-- STATE 0 CASE -->
  <div id="state0" style="display: none">
    <div id="card-flex">
      <img src="../static/images/red.png" alt="red card" id="red" onclick="redSelect()"></img>
      <img src="../static/images/blue.png" alt="blue card" id="blue" onclick="blueSelect()"></img>
    </div>
    <svg id="card-desc" width="400" height="50"></svg>
  </div>

  <!-- STATE 1 CASE -->
  <div id="state1">
    <div id="swap-switches-button" onclick="stateHandler(2)">
    </div>
    <!-- <script>
    //Fade card out when hits certain threshold
    $(window).scroll(function(){
       if ($(window).scrollTop() >= 500) {  // change target to number
         $("#swap-switches-button").css('opacity', '0');
         // $("#swap-switches-button").css('display', 'none');
       }
       else {
         $("#swap-switches-button").css('opacity', '1');
         // $("#swap-switches-button").css('display', 'block');
       }
    });
    </script> -->

    <div class="search-container">
      <div id="search-flex">
        <input id="searchBar" type="text" name='gameResult' placeholder="Enter one (or more) games..."/>
        <form id="send" method="post" action="/receiveData" onsubmit="getJSON()" enctype='application/json'>
          <button id='searchBarButton'>Search</button>
          <input type="hidden" name="jsonval" value=""/>
          <input type="hidden" name='state' value=""/>
        </form>
      </div>
      <div id="border-container">
        <div class='gameTags'></div>

        <script>
          //https://stackoverflow.com/questions/6524288/jquery-event-for-user-pressing-enter-in-a-textbox?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa#comment58006970_9893269

          //https://stackoverflow.com/questions/15244182/d3-create-buttons-from-an-array-of-string-containing-names?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
          var gameInput = [];
          $('#searchBar').bind("enterKey",function(e){
              value = $('#searchBar').val();
              if ($.inArray(value, gameInput)==-1 && gameList.indexOf(value) != -1) {
                //add it to the data
                gameInput.push(value);
                //remove non-alphabetical chars
                var val = value.replace(/[^a-zA-Z]+/g, '');
                //show it as a tag
                d3.select('.gameTags')
                  .append('div')
                  .attr('id',val)
                  .attr('class','gameTag')
                  .style('display','inline-flex')
                  .append('button')
                  .attr('type','button')
                  .attr('class','X')
                  .text('X')
                  .on('click',function() {
                    this.remove();
                    d3.select("#"+val).remove();
                    gameInput.splice(gameInput.indexOf(val),1);
                  });
                d3.select("#"+val)
                  .append('text')
                  .text(value);
              }
              $('#searchBar').val("");
            });

          $("#searchBar").keyup(function(e){
            if(e.keyCode == 13) {
              $(this).trigger("enterKey");
            }
          });

          var autoCompleteGame = new autoComplete({
            selector: 'input[name="gameResult"]',
            minChars: 1,
            source: function(term, suggest){
                term = term.toLowerCase();
                var choices = gameList;
                var matches = [];
                for (i=0; i<choices.length; i++) {
                    for (j=1;j<choices[i].length; j++) {
                      if (choices[i].toLowerCase().substring(0,j) == term) {
                        matches.push(choices[i]);
                      };
                    };
                }
                for (k=0; k<choices.length; k++) {
                    if (~choices[k].toLowerCase().indexOf(term) && matches.indexOf(choices[k]) == -1) {
                      matches.push(choices[k]);
                    };
                }
                suggest(matches);
            }
          });

          function getJSON(){
              if (gameInput.length == 0) {
                  gameInput.push(document.getElementById('searchBar').value);
              }
              var query = gameInput;
              console.log(query);
              var resultSimple = [
                  {"state": currentState },
                  { "name": query }
                  ];
              var json = JSON.stringify(resultSimple);
              var state1 = JSON.stringify({"state": 1});
              var formInfo = document.forms['send'];
              formInfo.jsonval.value = json;
              formInfo.state.value = state1;
              console.log(json)
          }
        </script>

        <!-- Example Queries -->
        <div class="example-queries">
          <!-- <svg id="ex-q" width="470" height="60"></svg> -->
          <p id='try-examples'>Try some examples!</p>
          <div class="example-query">
            <img id="ex1" class="wobble" src="../static/images/example-catan.jpg" />
            <p>Catan</p>
          </div>
          <div class="example-query">
            <img id="ex2" class="wobble" src="../static/images/example-pandemic.jpg" />
            <p>Pandemic</p>
          </div>
          <div class="example-query">
            <img id="ex3" class="wobble" src="../static/images/example-codenames.jpg" />
            <p>Codenames</p>
          </div>
        </div>
        <script>
        $(function () {
            $('.example-query').on('click', function () {
                var example_query = this.children[1].innerText;
                var search_text = $('#searchBar');
                search_text.val(example_query);
                //auto search when example query is clicked on
                document.getElementById("searchBarButton").style.backgroundColor = "#F2E5B1";
                document.getElementById("searchBarButton").style.color = "#58585B";
                document.getElementById("searchBarButton").click();
            });
        });
        </script>
      </div>

    <!-- Results -->
    <div class="results">
      {% if (results) and (state == 1) %}
      <h1 id="state1Anchor">Results</h1>

      <div class = "showing-results-text">
        <p style="display: inline;">Showing results for: </p>
        {% for i in range(query|length) %}
          {% if i != ((query|length)-1) %}
          <p style="display: inline; color: white;">{{ query[i] }}, </p>
          {% else %}
          <p style="display: inline; color: white;">{{ query[i] }}</p>
          {% endif %}
        {% endfor %}
      </div>

      <!-- CREATE GRID -->
      <div id="results-grid">
        {% for i in range(results|length) %}
          <div class="results-button" data-id="r{{results[i][0].rank}}"
          style="background-image: url({{results[i][0].image}});">
            <div class="results-button-caption">
              <p class="caption-name">{{ (i+1)|string + ". " }}{{ results[i][0].name }}</p>
              <p class="caption-info">Click for more info</p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <!-- <p>Try searching for a game!</p> -->
      {% endif %}
      </div>

      <!-- CREATE RESULTS EXPLANATIONS -->
      {% if (results) and (state == 1) %}
        {% for i in range(results|length) %}
        <div id="r{{results[i][0].rank}}" class="results-explanation">
          <div class="return">
              <img class="return-btn" src="../static/images/return3.png">
          </div>
          <div class="explanation">
            <div class="explanation-img">
              <img src="{{ results[i][0].image }}" />
            </div>
            <div class="explanation-text">
              <h2>{{ results[i][0].name }}</h2>
              <hr />
              <p>Similarity Score: <span class="whitetext">{{ "%.2f" % results[i][1][0] }}</span></p>
              <!-- <div class="category-list">
                <p style="display: inline;">Similar Aspects:</p>
                {% for j in range(results[i][1][1]|length) %}
                  {% if j != ((results[i][1][1]|length)-1) %}
                    <p style="display: inline; color: white;">{{ results[i][1][1][j] }},</p>
                  {% else %}
                    <p style="display: inline; color: white;">{{ results[i][1][1][j] }}</p>
                  {% endif %}
                {% endfor %}
              </div> -->
              <p>Number of Players: <span class="whitetext">{{ results[i][0].min_players }}-{{ results[i][0].max_players }}</span></p>
              <p>Complexity: <span class="whitetext">{{ "%.2f" % (results[i][0].complexity * (1.4)) }} / 7</span></p>
              <p>Average Playtime: <span class="whitetext">{{ results[i][0].avg_time }} minutes</span></p>
              <p>Average Rating: <span class="whitetext">{{ results[i][0].avg_rating[0:4] }} / 10</span></p>
              <div class="category-list">
                <p style="display: inline;">Categories:</p>
                {% for j in range(results[i][0].categories|length) %}
                  {% if j != ((results[i][0].categories|length)-1) %}
                    <p style="display: inline; color: white;">{{ results[i][0].categories[j] }},</p>
                  {% else %}
                    <p style="display: inline; color: white;">{{ results[i][0].categories[j]}}</p>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="category-list">
                <p style="display: inline;">Mechanics:</p>
                {% for j in range(results[i][0].mechanic|length) %}
                  {% if j != ((results[i][0].mechanic|length)-1) %}
                    <p style="display: inline; color: white;">{{ results[i][0].mechanic[j] }},</p>
                  {% else %}
                    <p style="display: inline; color: white;">{{ results[i][0].mechanic[j]}}</p>
                  {% endif %}
                {% endfor %}
              </div>
              <a target="_blank" href= "https://boardgamegeek.com/boardgame/{{results[i][0].url}}">Learn More</a>
              <p style="display: inline;"> | </p>
              <a target="_blank" style="display: inline;" href= "http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords={{results[i][0].name}}+game">Find on Amazon</a>
            </div>
          </div>
        </div>
        {% endfor %}

        <script>
        $('html, body').animate({
            scrollTop: $("#state1Anchor").offset().top - 20
        }, 500); //second value is how long it takes to scroll
        </script>
      {% endif %}
      </div>
    </div>
  </div>

  <!-- STATE 2 CASE -->
  <div id="state2">
      <div id="swap-switches-button2" onclick="stateHandler(1)"></div>
      <!-- <script>
      //Fade card out when hits certain threshold
      $(window).scroll(function(){
         if ($(window).scrollTop() >= 800) {  // change target to number
           $("#swap-switches-button2").css('display', 'none');
           $("#swap-switches-button2").css('opacity', '0');
         }
         else {
           $("#swap-switches-button2").css('opacity', '1');
         }
      });
      </script> -->

      <div id="form">
          <div class='card' id='number-of-players'>
              <h2> Number of Players </h2>
              <div class='player-buttons'>
                  <button class="player-button" value="1"> 1 </button>
                  <button class="player-button" value="2"> 2 </button>
                  <button class="player-button" value="3"> 3 </button>
                  <button class="player-button" value="4"> 4 </button>
                  <button class="player-button" value="5"> 5 </button>
                  <button class="player-button" value="6"> 6 </button>
                  <button class="player-button" value="7"> 7 </button>
                  <button class="player-button" value="8"> 8+ </button>
              </div>
              <script>
                var playerInput = [4,4]; //default value

                $(".player-button").click(function() { //select by class
                  var clicked = $(this);

                  if (clicked.hasClass('selectedPlayer')) {
                    $('.player-button').removeClass('disabled'); //enable all again
                    clicked.removeClass('selectedPlayer');
                    playerInput = [4,4];
                  } else {
                    $('.player-button').removeClass('selectedPlayer');
                    clicked.addClass('selectedPlayer');
                    clicked.removeClass('disabled');
                    var val = parseInt(clicked.attr("value"));
                    playerInput = [val, val];
                    $('.player-button').not(clicked).addClass('disabled'); //disable everything except clicked element
                  }
                });
              </script>
          </div>

          <div class='card' id='playing-time'>
              <h2> Playing Time </h2>
              <div class='time-buttons'>
                  <button class="time-button" value='1'><img src='../static/images/30.png'> 0-30 min </button>
                  <button class="time-button" value='2'><img src='../static/images/60.png'> 30-60 min </button>
                  <button class="time-button" value='3'><img src='../static/images/90.png'> 60-120 min </button>
                  <button class="time-button" value='4'><img src='../static/images/120.png'> 120+ min </button>
              </div>

              <script>
                var timeInput = 2;

                $(".time-button").click(function() { //select by class
                  var clicked = $(this);

                  if (clicked.hasClass('selectedTime')) {
                    $(".time-button").removeClass('disabled'); //enable all again
                    clicked.removeClass('selectedTime');
                    timeInput = 2;
                  } else {
                    $(".time-button").removeClass('selectedTime');
                    clicked.addClass('selectedTime');
                    clicked.removeClass('disabled');
                    var val = parseInt(clicked.attr("value"));
                    timeInput = val;
                    $(".time-button").not(clicked).addClass('disabled'); //disable everything except clicked element
                  }
                  console.log(timeInput);
                });
              </script>
          </div>

          <div class='card' id='difficulty'>
            <h2> Game Complexity </h2>
            <p>
              <!-- <label for="complexity-display">Complexity Range:</label> -->
              <input type="text" id="complexity-display" readonly>
              <!-- <output for="complexity-display" onforminput="value = input.valueAsNumber;"></output> -->
            </p>
            <div class="complexity-display1-container">
              <label for="complexity-display1" style='margin-right:3px; text-decoration:underline'>Ex:</label>
              <input style="display: inline; width: 170px;" type="text" id="complexity-game-display1" readonly>
            </div>
            <p style="display: inline">&#8212;</p>
            <div class="complexity-display2-container">
              <label for="complexity-display2" style='margin-right:3px; text-decoration:underline'>Ex:</label>
              <input style="display: inline; width: 170px;" type="text" id="complexity-game-display2" readonly>
            </div>


            <div id="slider-range"></div>

            <script>
            var diffInput = [1,4]; //initial values
            var complexityExamples = ["Codenames, Werewolf", "Ticket to Ride, Resistance", "Catan, Dominion", "Pandemic Legacy", "Puerto Rico, Scythe", "Agricola, Gloomhaven", "Through The Ages"];

            $( function() {
              $( "#slider-range" ).slider({
                range: true,
                min: 1,
                max: 7,
                values: diffInput,
                slide: function( event, ui ) {
                  $( "#complexity-display" ).val(
                    ui.values[ 0 ] + "   \u2014   " + ui.values[ 1 ]
                  );
                  diffInput = [ui.values[ 0 ], ui.values[ 1 ]];
                  // console.log(diffInput);
                  $( "#complexity-game-display1" ).val(
                    complexityExamples[ui.values[ 0 ] - 1]
                  );
                  $( "#complexity-game-display2" ).val(
                    complexityExamples[ui.values[ 1 ] - 1]
                  );
                }
              });
              //Give default range on screen
              $( "#complexity-display" ).val(
                $( "#slider-range" ).slider( "values", 0 ) + "   \u2014   " + $( "#slider-range" ).slider( "values", 1 )
              );
              $( "#complexity-game-display1" ).val(
                complexityExamples[$( "#slider-range" ).slider( "values", 0 ) - 1]
              );
              $( "#complexity-game-display2" ).val(
                complexityExamples[$( "#slider-range" ).slider( "values", 1 ) - 1]
              );
            });
            </script>
          </div>

          <div class='card' id='games'>
            <!-- Categories and Mechanics -->
            <div id='gamesSearch'>
              <h2> Existing Similar Games? </h2>
              <input type='text' name='gamesResult' id='gamesResult' placeholder="Try 'Catan', 'Pandemic', or 'Codenames'">
            </div>
            <div id='myGames'>
              <br />
              <div class='gamesTags'></div>
            </div>

              <script>
                //https://stackoverflow.com/questions/6524288/jquery-event-for-user-pressing-enter-in-a-textbox?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa#comment58006970_9893269

                //https://stackoverflow.com/questions/15244182/d3-create-buttons-from-an-array-of-string-containing-names?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
                var gamesInput = [];
                $('#gamesResult').bind("enterKey",function(e){
                    value = $('#gamesResult').val();
                    if ($.inArray(value, gamesInput)==-1 && gameList.indexOf(value) != -1) {
                      //add it to the data
                      gamesInput.push(value);
                      //remove non-alphabetical chars
                      var val = value.replace(/[^a-zA-Z]+/g, '');
                      //show it as a tag
                      d3.select('.gamesTags')
                        .append('div')
                        .attr('id',val)
                        .attr('class','gameTag')
                        .style('display','inline-flex')
                        .append('button')
                        .attr('type','button')
                        .attr('class','X')
                        .text('X')
                        .on('click',function() {
                          this.remove();
                          d3.select("#"+val).remove();
                          gamesInput.splice(gamesInput.indexOf(val),1);
                        });
                      d3.select("#"+val)
                        .append('text')
                        .text(value);
                    }
                    $('#gamesResult').val('');
                  });

                $("#gamesResult").keyup(function(e){
                  if(e.keyCode == 13) {
                    $(this).trigger("enterKey");
                  }
                });

                var autoCompleteGames = new autoComplete({
                  selector: 'input[name="gamesResult"]',
                  minChars: 1,
                  source: function(term, suggest){
                      term = term.toLowerCase();
                      var choices = gameList; //categories and mechanics
                      var matches = [];
                      for (i=0; i<choices.length; i++) {
                          // var choice = choices[i].toLowerCase();
                          // console.log(choice);
                          for (j=1;j<choices[i].length; j++) {
                            if (choices[i].toLowerCase().substring(0,j) == term) {
                              matches.push(choices[i]);
                            };
                          };
                      }
                      for (k=0; k<choices.length; k++) {
                          if (~choices[k].toLowerCase().indexOf(term) && matches.indexOf(choices[k]) == -1) {
                            matches.push(choices[k]);
                          };
                      }
                      suggest(matches);
                }
              });
              </script>
          </div>

          <div class='card' id='misc'>
            <!-- Categories and Mechanics -->
            <div id='miscSearch'>
              <h2> Anything Else? </h2>
              <input type='text' name='miscResult' id='miscResult' placeholder="Try 'Bluffing', 'Mythology', or 'Science Fiction'">
            </div>
            <div id='myMisc'>
              <br />
              <div class='miscTags'></div>
            </div>

              <script>
                //https://stackoverflow.com/questions/6524288/jquery-event-for-user-pressing-enter-in-a-textbox?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa#comment58006970_9893269

                //https://stackoverflow.com/questions/15244182/d3-create-buttons-from-an-array-of-string-containing-names?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
                var miscInput = [];
                $('#miscResult').bind("enterKey",function(e){
                    value = $('#miscResult').val();
                    if ($.inArray(value, miscInput)==-1 && comboList.indexOf(value) != -1) {
                      //add it to the data
                      miscInput.push(value);
                      //remove non-alphabetical chars
                      var val = value.replace(/[^a-zA-Z]+/g, '');
                      //show it as a tag
                      d3.select('.miscTags')
                        .append('div')
                        .attr('id',val)
                        .attr('class','miscTag')
                        .style('display','inline-flex')
                        .append('button')
                        .attr('type','button')
                        .attr('class','X')
                        .text('X')
                        .on('click',function() {
                          this.remove();
                          d3.select("#"+val).remove();
                          miscInput.splice(miscInput.indexOf(val),1);
                        });
                      d3.select("#"+val)
                        .append('text')
                        .text(value);
                    }
                    $('#miscResult').val('');
                  });

                $("#miscResult").keyup(function(e){
                  if(e.keyCode == 13) {
                    $(this).trigger("enterKey");
                  }
                });

                var autoCompleteMisc = new autoComplete({
                  selector: 'input[name="miscResult"]',
                  minChars: 1,
                  source: function(term, suggest){
                      term = term.toLowerCase();
                      var choices = comboList; //categories and mechanics
                      var matches = [];
                      for (i=0; i<choices.length; i++) {
                          // var choice = choices[i].toLowerCase();
                          // console.log(choice);
                          for (j=1;j<choices[i].length; j++) {
                            if (choices[i].toLowerCase().substring(0,j) == term) {
                              matches.push(choices[i]);
                            };
                          };
                      }
                      for (k=0; k<choices.length; k++) {
                          if (~choices[k].toLowerCase().indexOf(term) && matches.indexOf(choices[k]) == -1) {
                            matches.push(choices[k]);
                          };
                      }
                      suggest(matches);
                }
              });
              </script>
          </div>

          <div class='card' id='notmisc'>
            <!-- Categories and Mechanics -->
            <div id='notmiscSearch'>
              <h2> Anything You Don't Want? </h2>
              <input type='text' name='notmiscResult' id='notmiscResult' placeholder="Try 'City Building', 'Dice Rolling', or 'Word Game'">
            </div>
            <div id='myNotMisc'>
              <br />
              <div class='notmiscTags'></div>
            </div>

              <script>
                //https://stackoverflow.com/questions/6524288/jquery-event-for-user-pressing-enter-in-a-textbox?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa#comment58006970_9893269

                //https://stackoverflow.com/questions/15244182/d3-create-buttons-from-an-array-of-string-containing-names?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
                var notmiscInput = [];
                $('#notmiscResult').bind("enterKey",function(e){
                    value = $('#notmiscResult').val();
                    if ($.inArray(value, notmiscInput)==-1 && comboList.indexOf(value) != -1) {
                      //add it to the data
                      notmiscInput.push(value);
                      //remove non-alphabetical chars
                      var val = value.replace(/[^a-zA-Z]+/g, '');
                      //show it as a tag
                      d3.select('.notmiscTags')
                        .append('div')
                        .attr('id',val + "2")
                        .attr('class','notmiscTag')
                        .style('display','inline-flex')
                        .append('button')
                        .attr('type','button')
                        .attr('class','X')
                        .text('X')
                        .on('click',function() {
                          this.remove();
                          d3.select("#"+val+"2").remove();
                          notmiscInput.splice(notmiscInput.indexOf(val+"2"),1);
                        });
                      d3.select("#"+val+"2")
                        .append('text')
                        .text(value);
                    }
                    $('#notmiscResult').val('');
                  });

                $("#notmiscResult").keyup(function(e){
                  if(e.keyCode == 13) {
                    $(this).trigger("enterKey");
                  }
                });

                var autoCompleteNotMisc = new autoComplete({
                  selector: 'input[name="notmiscResult"]',
                  minChars: 1,
                  source: function(term, suggest){
                      term = term.toLowerCase();
                      var choices = comboList; //categories and mechanics
                      var matches = [];
                      for (i=0; i<choices.length; i++) {
                          // var choice = choices[i].toLowerCase();
                          // console.log(choice);
                          for (j=1;j<choices[i].length; j++) {
                            if (choices[i].toLowerCase().substring(0,j) == term) {
                              matches.push(choices[i]);
                            };
                          };
                      }
                      for (k=0; k<choices.length; k++) {
                          if (~choices[k].toLowerCase().indexOf(term) && matches.indexOf(choices[k]) == -1) {
                            matches.push(choices[k]);
                          };
                      }
                      suggest(matches);
                }
              });
              </script>
          </div>

          <div class = 'card' id='advancedSubmit'>
              <form id='advancedForm' method='POST' onsubmit='jsonAdvanced()' action = '/receiveData' enctype='application/json'>
                <button id='resultInput'> See Results! </button>
                <input type="hidden" name="advancedVal" value=""/>
                <input type='hidden' name='state' value=''/>
              </form>

              <script>
                function jsonAdvanced() {
                  //seperate out miscInput
                  categoryInput = []
                  mechanicInput = []
                  for (var z = 0; z < miscInput.length; z++) {
                    var value = miscInput[z]
                    if (mechanicList.includes(value)) {
                      mechanicInput.push(value);
                    }
                    else if (categoryList.includes(value)) {
                      categoryInput.push(value);
                    }
                  }

                  notCategoryInput = []
                  notMechanicInput = []
                  for (var z = 0; z < notmiscInput.length; z++) {
                    var value = notmiscInput[z]
                    if (mechanicList.includes(value)) {
                      notMechanicInput.push(value);
                    }
                    else if (categoryList.includes(value)) {
                      notCategoryInput.push(value);
                    }
                  }
                  console.log(notMechanicInput);
                  console.log(notCategoryInput);

                  var resultComplex = [
                     { "state": 2 },
                    {
                      "players": playerInput,
                      "time": timeInput,
                      "difficulty": diffInput,
                      "category": categoryInput,
                      "mechanics": mechanicInput,
                      "other_games": gamesInput,
                      "not_category": notCategoryInput,
                      "not_mechanic": notMechanicInput
                    }];
                  var state2 = JSON.stringify({'state': 2});
                  var json = JSON.stringify(resultComplex);
                  var formInfo2 = document.forms['advancedForm'];
                  formInfo2.advancedVal.value = json;
                  formInfo2.state.value = state2;
                  console.log(json);
                };
              </script>
          </div>
        </div>
        <!-- end of form div -->
        <div class="results">
          <!-- PRINT THE RESULTS FROM SEARCH -->
          {% if (results) and (state == 2) %}
          <h1 id="state2Anchor">Results</h1>

          <!-- CREATE GRID -->
          <div id="results-grid2">
            {% for i in range(results|length) %}
              <div class="results-button" data-id="r{{results[i][0].rank}}"
              style="background-image: url({{results[i][0].image}});">
                <div class="results-button-caption">
                  <p class="caption-name">{{ (i+1)|string + ". " }}{{ results[i][0].name }}</p>
                  <p class="caption-info">Click for more info</p>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <!-- <p>Try searching for a game!</p> -->
          {% endif %}
          </div>

          <!-- CREATE RESULTS EXPLANATIONS -->
          {% if (results) and (state == 2) %}
            {% for i in range(results|length) %}
            <div id="r{{results[i][0].rank}}" class="results-explanation">
              <div class="return">
                  <img class="return-btn" src="../static/images/return3.png">
              </div>
              <div class="explanation">
                <div class="explanation-img">
                  <img src="{{ results[i][0].image }}" />
                </div>
                <div class="explanation-text">
                  <h2>{{ results[i][0].name }}</h2>
                  <hr />
                  <p>Similarity Score: <span class="whitetext">{{ "%.2f" % results[i][1][0] }}</span></p>
                  <!-- <div class="category-list">
                    <p style="display: inline;">Similar Aspects:</p>
                    {% for j in range(results[i][1][1]|length) %}
                      {% if j != ((results[i][1][1]|length)-1) %}
                        <p style="display: inline; color: white;">{{ results[i][1][1][j] }},</p>
                      {% else %}
                        <p style="display: inline; color: white;">{{ results[i][1][1][j] }}</p>
                      {% endif %}
                    {% endfor %}
                  </div> -->
                  <p>Number of Players: <span class="whitetext">{{ results[i][0].min_players }}-{{ results[i][0].max_players }}</span></p>
                  <p>Complexity: <span class="whitetext">{{ "%.2f" % (results[i][0].complexity * (1.4)) }} / 7</span></p>
                  <p>Average Playtime: <span class="whitetext">{{ results[i][0].avg_time }} minutes</span></p>
                  <p>Average Rating: <span class="whitetext">{{ results[i][0].avg_rating[0:4] }} / 10</span></p>
                  <div class="category-list">
                    <p style="display: inline;">Categories:</p>
                    {% for j in range(results[i][0].categories|length) %}
                      {% if j != ((results[i][0].categories|length)-1) %}
                        <p style="display: inline; color: white;">{{ results[i][0].categories[j] }},</p>
                      {% else %}
                        <p style="display: inline; color: white;">{{ results[i][0].categories[j]}}</p>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="category-list">
                    <p style="display: inline;">Mechanics:</p>
                    {% for j in range(results[i][0].mechanic|length) %}
                      {% if j != ((results[i][0].mechanic|length)-1) %}
                        <p style="display: inline; color: white;">{{ results[i][0].mechanic[j] }},</p>
                      {% else %}
                        <p style="display: inline; color: white;">{{ results[i][0].mechanic[j]}}</p>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <a target="_blank" href= "https://boardgamegeek.com/boardgame/{{results[i][0].url}}">Learn More</a>
                  <p style="display: inline;"> | </p>
                  <a target="_blank" style="display: inline;" href= "http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords={{results[i][0].name}}+game">Find on Amazon</a>
                </div>
              </div>
            </div>
            {% endfor %}
            <script>
            $('html, body').animate({
                scrollTop: $("#state2Anchor").offset().top - 320
            }, 1000); //second value is how long it takes to scroll
            </script>
            {% endif %}
        </div>
        <!-- end of results -->
    </div>
    <!-- end of state 2 div  -->

    <div id="footer">
      <!-- <div id="credits">
        <p class="credits-text">
          Eliot Huang (keh228), Jake Jermanok (jaj224), Tiffany Wang (tw292), <br />
          Will Ronchetti (wrr33), and Ziyad Duron (zad22)
        </p>
        <p class="credits-text">
          Eliot Huang (keh228), Jake Jermanok (jaj224), Tiffany Wang (tw292), Will Ronchetti (wrr33), and Ziyad Duron (zad22)
        </p>
      </div> -->
    </div>

    <!-- JAVASCRIPT -->
    <script>
      // ********************************** ex queries
      var svgEx = d3.select("#ex-q");
      var exH = 60;
      var exW = 470;

      svgEx.append("rect")
      .attr("x", 0)
      .attr("y", 0)
      .attr("width", exW)
      .attr("height", exH)
      .attr("fill", "#58585B");

      svgEx.append("text")
      .attr("x", exW/2)
      .attr("y", exH/2+12)
      .attr("fill", "#F2E5B1")
      .attr("font-family", "Arapey")
      .attr("font-size", "1.65vw")
      .text("Try some examples: Catan, Pandemic, Codenames, etc.")
      .attr("text-anchor", "middle");

      // *************************************** hover

      var red = d3.select("#red");
      var blue = d3.select("#blue");
      var svg = d3.select("#card-desc");
      var h = 50;
      var w = 400;
      var bool = true;

      svg.append("rect")
      .attr("x", 0)
      .attr("y", 0)
      .attr("width", 0)
      .attr("height", 0)
      .attr("class", "textBack")
      .attr("fill", "#58585B")

      svg.append("text")
      .attr("opacity", 0)
      .attr("x", 0)
      .attr("y", h/2)
      .attr("class", "Rtext")
      .text("")
      .attr("text-anchor", "middle")

      svg.append("text")
      .attr("opacity", 0)
      .attr("x", 0)
      .attr("y", h/2)
      .attr("class", "Btext")
      .text("")
      .attr("text-anchor", "middle")

      red.on("mouseover", function() {
        if (bool == true) {
          svg.select(".textBack")
          .attr("x", 20)
          .attr("y", 0)
          .attr("width", 145)
          .attr("height", h)
          svg.select(".Rtext")
          .attr("fill", "#F2E5B1")
          .text("Similar Games")
          .attr("x", "17.5%")
          .attr("opacity", 0)
          .transition()
          .attr("x", "25.5%")
          .attr("opacity", 1)
        }
      })
      .on("mouseout", function() {
        svg.select(".textBack")
        .attr("x", 0)
        .attr("y", 0)
        .attr("width", 0)
        .attr("height", 0)
        svg.select(".Rtext")
        .attr("x", "25.5%")
        .attr("opacity", 1)
        .transition()
        .attr("x", "17.5%")
        .attr("opacity", 0)
      });

      blue.on("mouseover", function() {
        if (bool == true) {
          svg.select(".textBack")
          .attr("x", w-170)
          .attr("y", 0)
          .attr("width", 145)
          .attr("height", h)
          svg.select(".Btext")
          .attr("fill", "#F2E5B1")
          .text("Custom Search")
          .attr("x", "82%")
          .attr("opacity", 0)
          .transition()
          .attr("x", "74%")
          .attr("opacity", 1)
        }
      })
      .on("mouseout", function() {
        svg.select(".textBack")
        .attr("x", 0)
        .attr("y", 0)
        .attr("width", 0)
        .attr("height", 0)
        svg.select(".Btext")
        .attr("x", "74%")
        .attr("opacity", 1)
        .transition()
        .attr("x", "82%")
        .attr("opacity", 0)
      });

    // *************************************** state handling

      var currentState = 0;
      {% if (state == 1) %}
        //change this to check if search was from state1
        currentState = 1;
      {% endif %}
      {% if (state == 2) %}
        //change this to check if search was from state2
        currentState = 2;
      {% endif %}

      stateHandler(currentState);
      // state 0 -> initial state (both cards on the screen)
      // state 1 -> red card was selected (query search)
      // state 2 -> blue card was selected (advanced search)

      function redSelect() {

        console.log("red card selected", currentState);

        var red = d3.select("#red");
        var blue = d3.select("#blue");
        var text = d3.select(".Rtext");
        var textBack = d3.select(".textBack");
        var cardFlex = d3.select("#card-flex");

        bool = false;

        text.style("opacity", 0);
        textBack.style("opacity", 0);
        blue.style("opacity", 0);
        blue.style("cursor", "default");
        red.style("margin-left", "125px");
        setTimeout(function() {
          red.style("margin-top", "300px")
          red.style("opacity", 0);
          stateHandler(1);
        }, 800);
      };

      function blueSelect() {

        console.log("blue card selected");

        var red = d3.select("#red");
        var blue = d3.select("#blue");
        var text = d3.select(".Btext");
        var textBack = d3.select(".textBack");
        var cardFlex = d3.select("#card-flex");

        bool = false;

        text.style("opacity", 0);
        textBack.style("opacity", 0);
        red.style("opacity", 0);
        red.style("cursor", "default");
        blue.style("margin-right", "125px");
        setTimeout(function() {
          blue.style("margin-top", "300px")
          blue.style("opacity", 0);
          stateHandler(2);
        }, 800);
      };

      function stateHandler(state) {

        var state0Div = d3.select("#state0");
        var state1Div = d3.select("#state1");
        var state2Div = d3.select("#state2");
        var swapSwitchesButton1 = d3.select("#swap-switches-button");
        var swapSwitchesButton2 = d3.select("#swap-switches-button2");
        var about = d3.select("#about");

        if (state == 0) {
          currentState = 0;
          state0Div.style("display", "block");
          state1Div.style("display", "none");
          state2Div.style("display", "none");

          //don't show swap switches button
          swapSwitchesButton1.style("display", "none");
          swapSwitchesButton2.style("display", "none");
          //show about
          about.style("display", "block");
        }

        if (state == 1) {
          currentState = 1;
          console.log("entering red-card-selected state", currentState)
          setTimeout(function() {
            intiialState = false;
            state0Div.style("display", "none");
            state1Div.style("display", "block");
            state2Div.style("display", "none");

            //show swap switches button
            swapSwitchesButton1.style("display", "block");
            //hide credits
            about.style("display", "none");
          }, 250);
        } // end of state 1

        if (state == 2) {
          currentState = 2;
          console.log("entering blue-card-selected state", currentState)
          setTimeout(function() {
            intiialState = false;
            state0Div.style("display", "none");
            state1Div.style("display", "none");
            state2Div.style("display", "block");

            //show swap switches button
            swapSwitchesButton2.style("display", "block");
            //hide credits
            about.style("display", "none");
          }, 250);
        } // end of state 2
      };
    </script>

    <script>
      // *************************************************data processing

      var allGames = new Object;

      d3.queue()
      .defer(d3.csv, "/static/data/2017_04.csv") // f1
      .defer(d3.csv, "/static/data/2018_01.csv") // f2
      .await(function(error, f1, f2) {
        if (error) {
          console.log("ERROR: " + error)
        } else {

          f1.forEach(function(d) {
            allGames[d.names] = {
              ID: d.bgg_url,
              MinPlayers: Number(d.min_players),
              MaxPlayers: Number(d.max_players),
              AvgTime: Number(d.avg_time),
              MinTime: Number(d.min_time),
              MaxTime: Number(d.max_time),
              Year: Number(d.year),
              AvgRating: Number(d.avg_rating),
              GeekRating: Number(d.geek_rating),
              Votes: Number(d.num_votes),
              Image: d.image_url,
              Age: Number(d.age),
              Mechanic: d.mechanic,
              Owned: Number(d.owned),
              Genre: d.category,
              Weight: Number(d.weight)
            }
          }); // end of forEach for f1

          f2.forEach(function(d) {
            allGames[d.names] = {
              ID: d.bgg_url,
              MinPlayers: Number(d.min_players),
              MaxPlayers: Number(d.max_players),
              AvgTime: Number(d.avg_time),
              MinTime: Number(d.min_time),
              MaxTime: Number(d.max_time),
              Year: Number(d.year),
              AvgRating: Number(d.avg_rating),
              GeekRating: Number(d.geek_rating),
              Votes: Number(d.num_votes),
              Image: d.image_url,
              Age: Number(d.age),
              Mechanic: d.mechanic,
              Owned: Number(d.owned),
              Genre: d.category,
              Weight: Number(d.weight)
            }
          });

          var allMechanics = [];
          Object.keys(allGames).forEach(function(key) {
            m = allGames[key].Mechanic.split(", ")
            m.forEach(function(i) {
              allMechanics.push(i);
            })
          });

          //https://stackoverflow.com/questions/9229645/remove-duplicate-values-from-js-array
          uniqueMechanics = allMechanics.filter(function(d,i,self) {
            return self.indexOf(d) == i;
          })

          uniqueMechanics.splice(49,1);
          var mechanicString = '['
          uniqueMechanics.forEach(function(d,i) {
            mechanicString+='"' + d + '", '
          }) //51 in total

          var allGenres = [];
          Object.keys(allGames).forEach(function(key) {
            m = allGames[key].Genre.split(", ")
            m.forEach(function(i) {
              allGenres.push(i);
            })
          });

          //https://stackoverflow.com/questions/9229645/remove-duplicate-values-from-js-array
          uniqueGenres = allGenres.filter(function(d,i,self) {
            return self.indexOf(d) == i;
          })

          var genreString = '['
          uniqueGenres.forEach(function(d,i) {
            genreString +='"' + d + '", '
          }) //84 in total

      };
    });
    </script>
    <!-- HTML Dependent Scripts-->
    <script src="../static/scripts/results.js"></script>
  </body>
</html>
